// Title.scss
.main {
  margin-top: 50px;
  flex-direction: column;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
}
.title-text {
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  font: var(--title-text);
  width: 40%;
  .line {
    img {
      position: absolute;
      top: -2%;
      left: -10%;
    }
  }
  span {
    background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    span {
      background: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      span {
        background: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  p {
    width: 100%;
    margin-top: 36px;
    color: #fff;
    font: var(--title-desc);
  }
}

.title-button {
  margin-top: 66px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: center;
  z-index: 99;
  a {
    text-transform: uppercase;
    font: var(--btn-font);
    text-decoration: none;
    color: #343045;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    display: inline-block;
    padding: 17px 65px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #343045;
    &:hover {
      border: 2px solid #fff;
      background: none;
      color: #fff;
    }
  }
  .arrow {
    padding-left: 11px;
  }
}

.title-img {
  position: relative;
  order: 2;
  .woman {
    z-index: 1;
    position: relative;
    img {
      width: 520px;
      height: 450px;
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.13);
      border-radius: 100px 100px 100px 240px;
    }
  }
  .title-lines {
    img {
      position: absolute;
      top: -55%;
      left: 20%;
    }
    img:nth-child(2) {
      position: absolute;
      top: -25%;
      left: 40%;
    }
    img:nth-child(3) {
      position: absolute;
      top: 53%;
      left: 7%;
    }
    z-index: 0;
  }
}

.contacts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 88px;
  height: 167px;
  padding: 0 80px 0 39px;
  position: relative;
  border-radius: 90px;
  background: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
  z-index: 99;
}
.location,
.phone,
.email {
  display: flex;
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: #c0b7e8;
      transform: scale(1.1);
    }
  }
}

.contact_info {
  display: flex;
  .info {
    margin-top: 5px;
    margin-left: 10px;
  }
  span {
    font: var(--contacts-font);
  }
  p {
    padding-top: 5px;
    font: var(--contacts-font-info);
  }
}
.swiper_contacts_container {
  display: none;
}

// media
@media (max-width: 767px) {
  .main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .title-text {
      order: 2;
      margin-top: 30px;
      display: flex;
      text-align: center;
      width: 100%;
      font: var(--about-font-large);
      .line {
        display: none;
      }
      span {
        color: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);

        span {
          font-size: 28px;
          color: #fff;
          span {
            font-size: 32px;
            color: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
          }
        }
      }
      p {
        display: none;
      }
    }
    .title-img {
      position: relative;
      order: 1;
      margin-top: 0;
      position: relative;
      .woman {
        z-index: 1;
        position: relative;
        img {
          width: 95%;
          height: 277px;
          box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.13);
          border-radius: 100px 100px 100px 240px;
        }
      }
      .title-lines {
        width: 100%;
        display: flex;
        img {
          top: -25%;
          left: -6%;
          width: 100%;
          height: 190%;
        }
        img:nth-child(2) {
          top: -20%;
          left: 30%;
          width: 80%;
          height: 190%;
        }
        img:nth-child(3) {
          position: absolute;
          top: 20%;
          left: 0;
          width: 80%;
          height: 150%;
          transform: rotate(35deg);
        }
        z-index: 0;
      }
    }

    .title-button {
      margin-top: 36px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 99;
      a {
        text-transform: uppercase;
        font: var(--btn-font);
        text-decoration: none;
        color: #343045;
        border-radius: 40px;
        background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
        display: inline-block;
        padding: 17px 65px;
        box-sizing: border-box;
        text-align: center;
        border: 2px solid #343045;
        &:hover {
          border: 2px solid #fff;
          background: none;
          color: #fff;
        }
      }
    }
  }
  .arrow {
    display: none;
  }

  .contacts {
    display: none;
  }
  .swiper_contacts_container {
    display: flex;
    margin-top: 53px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 53px;
    width: 100%;
    height: 109px;
    .swiper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 90px;
      background: radial-gradient(
        2900.76% 50.13% at 50% 53.89%,
        rgba(58, 52, 86, 0.95) 0%,
        #211e2e 100%
      );
      box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
      height: 110px;
      .swipe__slide {
        justify-content: center;
        display: flex;
        width: 100%;
      }
    }
    .swipe__slide_info {
      padding: 10%;
      width: 100%;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      color: #fff;
      font: var(--contacts-font-media);
    }
  }
  .button-prev-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 99;
  }
  .button-next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    z-index: 99;
  }
}
// styles
@media (min-width: 768px) and (max-width: 1024px) {
  .title-text {
    order: 1;
    margin-top: 20px;
    display: flex;
    text-align: center;
    width: 50%;
    font: var(--about-font-large);
    .line {
      display: none;
    }
    span {
      color: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);

      span {
        font-size: 25px;
        color: #fff;
        span {
          font-size: 30px;
          color: linear-gradient(92deg, #c0b7e8 -1.02%, #8176af 36.25%);
        }
      }
    }
    p {
      display: none;
    }
  }
  .title-img {
    position: relative;
    order: 1;
    margin-top: 0;
    position: relative;
    .woman {
      z-index: 1;
      position: relative;
      img {
        width: 95%;
        height: 277px;
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.13);
        border-radius: 100px 100px 100px 240px;
      }
    }
    .title-lines {
      width: 100%;
      display: flex;
      img {
        top: -25%;
        left: -6%;
        width: 100%;
        height: 190%;
      }
      img:nth-child(2) {
        top: -20%;
        left: 30%;
        width: 80%;
        height: 190%;
      }
      img:nth-child(3) {
        position: absolute;
        top: 20%;
        left: 0;
        width: 80%;
        height: 150%;
        transform: rotate(35deg);
      }
      z-index: 0;
    }
  }
  .arrow {
    display: none;
  }
  .title-button {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contacts {
    height: 120px;
  }
  .location,
  .phone,
  .email {
    justify-content: space-around;
    align-items: center;
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover {
        color: #c0b7e8;
        transform: scale(1.1);
      }
    }
  }
  
  .contact_info {
    display: flex;
    column-gap: 20px;
    align-items: center;
    .info {
      margin: 0;
      justify-content: center;
      align-items: center;
    }
    span {
      font: var(--tech-font-text);
    }
    p {
      display: none;
    }
  }
}
