.footer {
  margin-top: 130px;
  padding-bottom: 69px;
  z-index: 99;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  animation: spin 2s linear infinite;
  img {
    width: 185px;
    height: 187px;
  }
}
.footer__nav,
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: left;
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font: var(--tech-font-text);
    transition: all 0.3s ease;
    &:hover {
      color: #c0b7e8;
      transform: scale(1.1);
    }
  }
}
.social {
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  .social__title {
    color: #fff;
    font: var(--tech-font-text);
  }
}
.social__links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  img {
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
    border: 2px solid #343045;
    border-radius: 50%;
    &:hover {
      color: #c0b7e8;
      transform: scale(1.3);
    }
  }
}
.footer__btn {
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 99;
  a {
    text-transform: uppercase;
    font: var(--btn-font);
    line-height: 15px;
    text-decoration: none;
    color: #343045;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    padding: 17px 43px 17px 38px;
    text-align: center;
    &:hover {
      border: 2px solid #fff;
      background: none;
      color: #fff;
    }
  }
}
.footer__line_row {
  padding-top: 77px;
  width: 100%;
  height: auto;
  img {
    width: auto;
    height: auto;
  }
}
.footer__logo_lines {
  display: none;
}
.copyright {
  padding-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: var(--footer-font-copyright);
  letter-spacing: 1.82px;
}
@media (max-width: 767px) {
  .footer {
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .footer__items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .social {
        margin-top: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .footer__logo {
      img {
        width: 185px;
        height: 187px;
      }
    }

    .footer__logo_lines {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: -15%;
      img:nth-of-type(1) {
        width: 100%;
        height: 100%;
      }
      img:nth-of-type(2) {
        position: absolute;
        width: 100%;
        height: 90%;
        top: 70%;
      }
    }
  }
  .footer__nav,
  .footer__links,
  .footer__line {
    display: none;
  }
  .social__links {
    img {
      height: 32px;
      width: 32px;
    }
  }
  .copyright {
    padding-top: 38px;
    text-align: center;
    color: #fff;
    font: var(--footer-font-copyright);
    letter-spacing: 1.82px;
  }
}
