.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
  margin-top: 102px;
  position: relative;
}
.card_line {
  position: relative;
  height: auto;
  width: 110%;
  img {
    position: absolute;
    top: -450px;
    left: -5%;
    width: 100%;
    height: auto;
  }
}

.cards-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  column-gap: 10px;
  z-index: 99;
}
.cards-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 511px;
  border-radius: 40px;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  img {
    width: 190px;
    height: 190px;
    margin-top: 23px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.13);
  }
  span {
    height: 50px;
    color: #fff;
    font: var(--contacts-font);
    border-bottom: 2px solid rgba(192, 183, 232, 0.33);
  }

  p {
    text-align: left;
    width: 90%;
    padding-left: 10px;
    color: #fff;
    font: var(--contacts-font-info);
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    width: 154px;
    height: 48px;
    flex-shrink: 0;
    text-decoration: none;
    color: #343045;
    font: var(--btn-font);
    margin-bottom: 40px;

    &:hover {
      border: 2px solid #fff;
      background: none;
      color: #fff;
    }
  }
  z-index: 99;
}

.slide {
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 114px;
  height: 311px;
  background: url("./../../img/decoration/background-slide.webp");
  background-size: cover;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  z-index: 98;
  position: relative;
  span {
    font: var(--about-font-large);
  }
  p {
    font: var(--about-font-title);
  }
}

.btn-slide {
  position: relative;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 15px rgba(14, 14, 14, 0.32);
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(180deg, #c0b7e8 -0.6%, #8176af 98.31%);
  img {
    width: 60px;
    height: 60px;
    transition: transform 0.9s ease;
  }
  &:hover {
    border: 2px solid #fff;
    background: none;
    color: #fff;
  }
  &.rotate {
    transform: rotate(180deg);
  }

  .hidden {
    display: none;
  }
}
.slides {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: slideIn 0.6s ease-in-out;
  .slides-data {
    img {
      width: 174px;
      height: 174px;
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  50% {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card__desc {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .cards-context {
    span {
      color: #fff;
      text-transform: uppercase;
      font: var(--about-font-large);
    }
    p {
      color: #fff;
      text-transform: uppercase;
      font: var(--about-font-title);
    }
  }
}
.arrow-card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  img {
    width: auto;
    position: absolute;
    left: 360px;
    top: -20px;
    z-index: 99;
    width: 157px;
  }
  img:nth-child(2) {
    position: absolute;
    left: 140%;
    top: -68px;
    z-index: 1;
    width: 100px;
    height: 100px;
  }
}
.cards-text {
  width: 652px;
  height: 98px;
  color: #fff;
  font: var(--title-desc);
}
.swiper_cards_info {
  display: none;
}

.swiper_tech_container,
.swiper_cards_container {
  display: none;
}
@media (max-width: 767px) {
  .cards {
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  .line,
  .arrow-card {
    display: none;
  }
  .cards-info {
    display: none;
  }
  .swiper_cards_container {
    display: flex;
    position: relative;
    margin-top: 25px;
  }
  .swiper-btn-next,
  .swiper-btn-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    box-shadow: 0 0 0 10px rgba(14, 14, 14, 0.32);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
  }
  .swiper-btn-prev {
    left: 3%;
  }
  .swiper-btn-next {
    right: 3%;
  }

  .slide {
    width: 90%;
    margin: 0 auto;
    height: 160px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    span {
      font: var(--tech-font-text);
    }
    p {
      padding-top: 14px;
      font: var(--tech-font-desc);
    }
    .btn-slide {
      display: none;
    }
    .slide {
      display: none;
    }
  }
  .swiper_cards_info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
    width: 320px;
    height: 511px;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 36px;
    align-items: center;
    img {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.13);
      width: 191px;
      height: 191px;
      border-radius: 50%;
    }
    span {
      height: 50px;
      color: #fff;
      font: var(--contacts-font);
      border-bottom: 2px solid rgba(192, 183, 232, 0.33);
    }

    p {
      width: 250px;
      height: 57px;
      color: #fff;
      font: var(--contacts-font-info);
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
      width: 250px;
      height: 48px;
      flex-shrink: 0;
      text-decoration: none;
      color: #343045;
      font: var(--btn-font);
      line-height: normal;
      &:hover {
        border: 2px solid #fff;
        background: none;
        color: #fff;
      }
    }
  }

  .cards-desc {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    img {
      width: 190px;
      height: 190px;
    }
    .cards-text {
      display: none;
    }
  }

  .swiper_tech_container {
    display: flex;
    margin-top: 30px;
    width: 100%;
  }

  .swipe__tech__slide {
    width: 100%;
    display: flex;
    justify-content: center;
    .swipe_tech_item {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 174px;
        height: 174px;
      }
    }
  }
}
