.about {
  margin-top: 90px;
}
.about__content {
  width: 100%;
}
.intro,
.context {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  .intro-title,
  .context-title {
    span {
      color: #fff;
      text-transform: uppercase;
      font: var(--about-font-large);
    }
    p {
      color: #fff;
      text-transform: uppercase;
      font: var(--about-font-title);
    }
    .arrow {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      img {
        width: 50%;
        position: absolute;
        left: 100%;
        top: -20px;
      }
      img:nth-child(2) {
        width: 40%;
        position: absolute;
        left: 138%;
        top: -73px;
      }
    }
  }

  .intro_text,
  .context_text_hydra {
    width: 50%;
    height: 98px;
    color: #fff;
    font: var(--title-desc);
  }
}

.about-vr {
  margin-top: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  position: relative;
}
.man {
  z-index: 99;
  width: 100%;
  img {
    width: 524px;
    height: 557px;
    border-radius: 200px 100px;
    background: #a3a3a3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.lines {
  z-index: 0;
  img {
    position: absolute;
    top: -15px;
    left: 0;
  }
  img:nth-child(2) {
    position: absolute;
    top: 48%;
    left: 0;
  }
}

.about-desc {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .about-title {
    text-transform: uppercase;
    span {
      font: var(--about-font-large);
    }
    p {
      color: rgba(255, 255, 255, 0.95);
      font: var(--about-font-title);
    }
  }
}
.desk {
  height: 228px;
  margin-top: 42px;
  margin-bottom: 28px;
  font: var(--title-desc);
}

.about-btn {
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 99;
  a {
    text-transform: uppercase;
    font: var(--btn-font);
    line-height: 15px;
    text-decoration: none;
    color: #343045;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    padding: 17px 47px;
    text-align: center;
    &:hover {
      border: 2px solid #fff;
      background: none;
      color: #fff;
    }
  }
}
.context {
  margin-top: 40px;
  position: relative;
}
.arrow-context {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  img {
    position: absolute;
    left: 110%;
    width: 50%;
    top: -20px;
    z-index: 99;
  }
  img:nth-child(2) {
    position: absolute;
    width: 40%;
    left: 147%;
    top: -70px;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 60px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding-top: 16px;
    }
    .intro_text {
      display: none;
    }
    .intro-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font: var(--about--font-bold-media);
      }
      p {
        font: var(--about--font-light-media);
      }
      .arrow {
        display: none;
      }
    }
  }
  .about-vr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
  }
  .man {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: max-content;
    img {
      border-radius: 140px 50px;
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.13);
      width: 336px;
      height: 358px;
    }
  }

  .about-desc {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
    .about-title {
      display: none;
    }
    .about-desc {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    .desk {
      width: 100%;
      height: max-content;
      margin: 0;
      padding: 0 5%;
      font: var(--about-font-text-media);
    }
  }
  .lines {
    display: none;
  }
  .about-btn {
    margin-top: 34px;
    justify-content: center;
    a {
      font: var(--btn-font);
      font-size: 14px;
    }
  }
  .context {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    .context-title {
      text-align: center;
      span {
        font: var(--about--font-bold-media);
      }
      p {
        font: var(--about--font-light-media);
      }
    }
  }
  .arrow-context {
    display: none;
  }
  .context_text_hydra {
    display: none;
  }
}
